
@{
    ViewData["Title"] = "Drink";
}

<h1>Menus</h1>
<div class="mt-4">
    <p class="text-justify">
        As the premier restaurant in Rhodes, we are proud to offer a fabulous array of fresh, authentic cuisine. Phoenix offers our famous Yum Cha in Rhodes as well as A La Carte options daily, with exclusive, ever-changing menu’s to suit all tastes.
    </p>
    <p class="text-justify">
        For any questions about the menus for our restaurant in Rhodes, feel free to call us on 02 9752 5428.
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <img class="w-100 img-thumbnail" src="../img/salad.jpg" alt="Alternate Text" />
    </div>
    <div class="col-md-6">
        <p>Phoenix is a progression of rare and beautiful ingredients where texture, flavour and harmony is paramount.</p>
        <p>Continually inspired by nature, the creative process for our chef begins in working closely with the farmers, fishermen, producers and artisans who cultivate bespoke produce exclusively for Phoenix. For each dish, the growth of every element and the selection of every ceramic piece is carefully considered and crafted for its role in the dining experience.</p>
    </div>
</div>
<ul class="nav nav-tabs text-center h5">
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Course9">9 COURSE MENU</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Course6">6 COURSE MENU</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Lunch">THE PHOENIX LUNCH</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Drink">DRINKS</a>
    </li>
</ul>
<div class="container text-left mt-5 row">
    <small></small><br />With an emphasis on showcasing quality wines that communicate a sense of place and time, the Quay wine list champions locally sourced produce while still tipping its cap to international styles. A list of ten cocktails and ten non-alcoholic cocktails has been crafted to complement the wine list.
    <br />
    <div class="col-md-6 mt-5">
        <h4 class="text-dark">RED WINE</h4>
        <p class="mt-4"><b>THE SOURCE PINOT NOIR</b><br />Adelaide Hills, SA</p>
        <p class="mt-4"><b>FICKLE MISTRESS PINOT NOIR</b><br />Central Otago, NZ</p>
        <p class="mt-4"><b>MARKVIEW CABERNET MERLOT</b><br />New South Wales</p>
        <p class="mt-4"><b>ANNIE’S LANE CABERNET MERLOT</b><br />Clare Valley, SA</p>
        <p class="mt-4"><b>SMITH & HOOPER MERLOT</b><br />Wrattonbully, SA</p>
        <p class="mt-4"><b>WYNNS ‘THE GABLES’ CABERNET SAUVIGNON</b><br />Coonawarra, SA</p>
        <p class="mt-4"><b>YALUMBA ‘CIGAR’ CABERNET SAUVIGNON</b><br />Coonawara, SA</p>
        <p class="mt-4"><b>ZEPPELIN SHIRAZ</b><br />Barossa Valley, SA</p>
        <p class="mt-4"><b>LINDERMAN’S SHIRAZ</b><br />Hunter Valley, NSW</p>
        <p class="mt-4"><b>PENFOLDS MAX SHIRAZ CABERNET CLUB</b><br />South Australia</p>
        <p class="mt-4"><b>GORGEOUS GRENACHE</b><br />Riverland, SA</p>
    </div>
    <div class="col-md-6 mt-5">
        <h4 class="text-dark">WHITE WINE</h4>
        <p class="mt-4"><b>MARKVIEW SAUVIGNON BLANC</b><br />New South Wales</p>
        <p class="mt-4"><b>LITTLE BERRY SAUVIGNON BLANC</b><br />Adelaide Hills, SA</p>
        <p class="mt-4"><b>FRAMINGHAM SAUVIGNON BLANC</b><br />Marlborough, NZ</p>
        <p class="mt-4"><b>MAIN DIVIDE CHARDONNAY</b><br />Waipara Valley, NZ</p>
        <p class="mt-4"><b>BLOCK 6 CHARDONNAY</b><br />Margaret River, WA</p>
        <p class="mt-4"><b>UNDER OVER PINOT GRIS</b><br />King Valley, VIC</p>
        <p class="mt-4"><b>DEVIATION ROAD PINOT GRIS</b><br />Adelaide Hills, SA</p>
        <p class="mt-4"><b>PINOT GRIGIO DELLA VENEZIE</b><br />Veneto, Italy</p>
        <p class="mt-4"><b>AM-BERG VELTINER</b><br />Wagram, Austria</p>
        <p class="mt-4"><b>MARKVIEW CHARDONNAY</b><br />New South Wales</p>
        <p class="mt-4"><b>LEO BURING RIESLING</b><br />Clare Valley, SA</p>
    </div>
</div>

