
@{
    ViewData["Title"] = "Lunch";
}

<h1>Menus</h1>
<div class="mt-4">
    <p class="text-justify">
        As the premier restaurant in Rhodes, we are proud to offer a fabulous array of fresh, authentic cuisine. Phoenix offers our famous Yum Cha in Rhodes as well as A La Carte options daily, with exclusive, ever-changing menu’s to suit all tastes.
    </p>
    <p class="text-justify">
        For any questions about the menus for our restaurant in Rhodes, feel free to call us on 02 9752 5428.
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <img class="w-100 img-thumbnail" src="../img/salad.jpg" alt="Alternate Text" />
    </div>
    <div class="col-md-6">
        <p>Phoenix is a progression of rare and beautiful ingredients where texture, flavour and harmony is paramount.</p>
        <p>Continually inspired by nature, the creative process for our chef begins in working closely with the farmers, fishermen, producers and artisans who cultivate bespoke produce exclusively for Phoenix. For each dish, the growth of every element and the selection of every ceramic piece is carefully considered and crafted for its role in the dining experience.</p>
    </div>
</div>
<ul class="nav nav-tabs text-center h5">
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Course9">9 COURSE MENU</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Course6">6 COURSE MENU</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Lunch">THE PHOENIX LUNCH</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Drink">DRINKS</a>
    </li>
</ul>
<div class="container text-center mt-5">
    <small>
        As we step into a new decade, Quay launches a new way to experience lunch by Sydney Harbour. Available in the restaurant from Friday to Sunday, ‘The Quay to Lunch’ entails an abridged version of Quay’s signature offering, with a fish course crafted especially for the four course menu. The same unique and delicate flavours by Chef Peter Gilmore in a more succinct service.
    </small><br /><br />
    <h4 class="text-dark">THE PHOENIX LUNCH</h4>
    <p class="mt-4"><b>HAND HARVESTED SEAFOOD</b><br />Virgin soy, seaweed, aged vinegar</p>
    <p class="mt-4"><b>STEAMED MUD CRAB CUSTARD</b><br />Lady Godiva squash seeds</p>
    <p class="mt-4"><b>MURRAY COD</b><br />Shaved squid, oyster cream, coastal greens</p>
    <p class="mt-4"><b>MOO</b><br /></p>
    <p class="mt-4"><b>Four Course Menu - $160 pp</b><br /></p>
</div>

