
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>
<div class="mt-4">
    <p class="text-left">
        For your next authentic experience, visit one of the best restaurants in Rhodes - Rhodes Phoenix.
    </p>
    <p>
        <a asp-controller="Reservation" asp-action="Create">Click here</a> to make a reservation and enjoy our food in Rhodes today!
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <h5 class="text-danger mt-2">Normal Trading Hours</h5>
        <p>Breakfast<br>7 days a week from 7.00am - 11.00am</p>
        <p>Lunch<br>7 days a week from 11.00am - 4.00pm</p>
        <p>Dinner<br>7 days a week from 4.00pm - 11.00pm</p><br />
        <h5 class="text-danger mt-2"> We are located at:</h5>
        <p>
            Rhodes Shopping Center<br />
            MM4/1 Rider Blvde<br />
            Rhodes NSW 2138
        </p>
        <p>
            P: <a href="tel:02 9752 5428">02 9752 5428</a><br />
            E: <a href="mailto:bookings@phoenix.com.au">bookings@phoenix.com.au</a>
        </p>
    </div>
    <div class="col-md-7 text-right">
        <h5 class="text-danger mt-2">Find Us &nbsp;<img src="~/img/pin.png" height="35" /></h5>
        <iframe style="border: 0" width="600" height="400"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13256.54677375496!2d151.0857131!3d-33.8345853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92619d4dc75bcecf!2sRhodes+Phoenix!5e0!3m2!1sen!2sau!4v1509513009126"></iframe>
    </div>
</div>
