
@{
    ViewData["Title"] = "Menu";
}

<h1>Menus</h1>
<div class="mt-4">
    <p class="text-justify">
        As the premier restaurant in Rhodes, we are proud to offer a fabulous array of fresh, authentic cuisine. Phoenix offers our famous menu in Rhodes as well as A La Carte options daily, with exclusive, ever-changing menu’s to suit all tastes.
    </p>
    <p class="text-justify">
        For any questions about the menus for our restaurant in Rhodes, feel free to call us on 02 9752 5428.
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <img class="w-100 img-thumbnail" src="../img/salad.jpg" alt="Alternate Text" />
    </div>
    <div class="col-md-6">
        <p>Phoenix is a progression of rare and beautiful ingredients where texture, flavour and harmony is paramount.</p>
        <p>Continually inspired by nature, the creative process for our chef begins in working closely with the farmers, fishermen, producers and artisans who cultivate bespoke produce exclusively for Phoenix. For each dish, the growth of every element and the selection of every ceramic piece is carefully considered and crafted for its role in the dining experience.</p>
    </div>
</div>
<ul class="nav nav-tabs text-center h5">
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Course9">9 COURSE MENU</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Course6">6 COURSE MENU</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Lunch">THE PHOENIX LUNCH</a>
    </li>
    <li class="nav-item col-md-3 pt-4 pb-4">
        <a asp-controller="Menu" asp-action="Drink">DRINKS</a>
    </li>
</ul>
<div class="container text-center mt-5">
    <small>The ten course menu welcomes guests to delve further into Phoenix’s reimagination.</small><br /><br />
    <h4 class="text-dark">9 COURSE</h4>
    <p class="font-weight-bold mt-4">OYSTER INTERVENTION 2.0</p>
    <p class="mt-4"><b>HAND HARVESTED SEAFOOD</b><br />virgin soy, seaweed, aged vinegar</p>
    <p class="mt-4"><b>SMOKED EEL CREAM</b><br />Osetra caviar, green walnuts, sea cucumber</p>
    <p class="mt-4"><b>POOLISH CRUMPET</b><br />smoked roe, cultured cream</p>
    <p class="mt-4"><b>BLUE MANNA CRAB</b><br />fresh bamboo, pin striped peanuts, Kampot pepper broth</p>
    <p class="mt-4"><b>FRESH WATER MARRON</b><br />'tree bark', Boab root</p>
    <p class="mt-4"><b>SLOW SMOKED BLACK PIG</b><br />fermented shiitake custard, heirloom grains, seeds, legumes</p>
    <p class="mt-4"><b>ROASTED MAREMMA DUCK</b><br />burnt mandarin paste</p>
    <p class="mt-4"><b>WHITE CORAL</b><br /></p>
    <p class="mt-4"><b>MOO</b><br /></p>
</div>
