
@{
    ViewData["Title"] = "Index";
}

    <div class="row memberBg">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-7 align-self-end">
            <div class="ml-4 mt-5 text-light">
                <h2 class="text-light">Your Choice at The Phoenix</h2>
                <p class="mt-3">Our cuisine captures the best of contemporary and classic Chinese dishes.</p>
                <p>Awarded winning born executive chef who has more than 30 years of cooking experience under his belt, breathes magic into classic Chinese cooking techniques by thinking” outside the wok”.</p>
            </div>
            <ul class="menu">
                <li tabindex="1">
                    <span class="title">MENU</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">MENU</h3>
                            <p>Phoenix is a progression of rare and beautiful ingredients where texture, flavour and harmony is paramount.</p>
                            <p>Continually inspired by nature, the creative process for our chef begins in working closely with the farmers, fishermen, producers and artisans who cultivate bespoke produce exclusively for Phoenix. For each dish, the growth of every element and the selection of every ceramic piece is carefully considered and crafted for its role in the dining experience.</p>
                            <a asp-area="" asp-controller="Menu" asp-action="Course9" class="btn btn-dark text-light mt-3">View Menu</a>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberMenu.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">ABOUT</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">ABOUT US</h3>
                            <p>Phoenix is one of the country’s most celebrated restaurants; the creation of leading Australian restaurant group, Fink, and Executive Chef Peter Austin.</p>
                            <p>The restaurant is an organic space reflective of Peter Austin’s nature inspired cuisine. The interplay of textures and colour brings life and a vibrance that embraces the restaurant’s place in the dress circle of Sydney Harbour. An ode to the Australian landscape, from the vast ocean floor, to the cracked bark of a paperbark tree, every detail from the ground up has been thoughtfully considered.</p>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberAbout.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">RESERVATIONS</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">MAKE A RESERVATION</h3>
                            <p>Online reservations need to be made at least 48 hours in advance.For enquiries in regards to your next private function at our restaurant venue simply call us on 02 9752 5428.</p>
                            <p></p>
                            <a asp-area="Member" asp-controller="Reservation" asp-action="Create" class="btn btn-dark text-light mt-3">Reservation</a>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberReserve.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">NEWS</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">LATEST NEWS</h3>
                            <h4 class="text-dark font-weight-bolder">SUPPORT LOCAL</h4>
                            <p>More so than ever before, we can all truly appreciate the comfort and joy that is to be found in food; whether in preparing a simple meal for one, or a hearty meal for the whole family at home. While we look after those closest to us, there is also a small way we can all support our extended restaurant community - local providores and restaurant suppliers - who are hurting.</p>
                            <p></p>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberNews.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">EVENTS</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">EVENTS</h3>
                            <p>Celebrate in the heart of Sydney Harbour at one of Australia’s most awarded restaurants, with panoramic views encompassing the Sydney Harbour Bridge and Sydney Opera House.</p>
                            <p>From intimate dinner parties in the Private Dining Room, to large cocktail events in The Green Room.</p>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberEvents.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">WEDDINGS</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">WEDDINGS</h3>
                            <p>Phoenix welcomes both small and large wedding parties to celebrate in the heart of Sydney Harbour. With menu by chef Peter Gilmore and panoramic views from the Harbour Bridge to the Opera House, Phoenix provides an exquisite setting for your most special day.</p>
                            <p>With two exclusive reception spaces, Phoenix can accommodate small receptions for up to 20 guests in the Upper Tower, and larger seated events for 100 guests or elegant cocktail party receptions for up to 180 guests in the Green Room.</p>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberWedding.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">GIFT SHOP</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">GIFT VOUCHERS</h3>
                            <p>To purchase a Phoenix gift voucher, simply nominate a value, add a personal message and your gift voucher will be sent instantly via email.</p>
                            <p>Gift Vouchers are valid for three years from the date of issue and must be used within this period. Please treat your voucher as cash, they cannot be reissued if lost or stolen. Vouchers are not exchangeable for cash</p>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberGift.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">CAREERS</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">CAREERS AT PHOENIX</h3>
                            <p>Phoenix is always looking for passionate people to join our restaurant and head office teams. By joining Fink, you will become a part of one of the country’s leading restaurant groups. Offering attractive staff benefits, competitive salary and opportunities for development and career progression, Fink is a well-established, stable employer, with a passion for discovering, training and championing emerging talent within the hospitality industry.</p>
                            <p></p>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberCareer.jpg" />
                        </div>
                    </div>
                </li>
                <li tabindex="1">
                    <span class="title">CONTACT</span>
                    <div class="content row bg-light">
                        <div class="col-sm-6 text-dark p-5">
                            <h3 class="text-dark font-weight-bolder">CONTACT US</h3>
                            <p>To get in touch with the Phoenix team simply fill out the contact form below. Alternatively you can telephone us on <a href="tel:02 9752 5428">02 9752 5428</a> or email us at <a href="mailto:bookings@phoenix.com.au">bookings@phoenix.com.au</a> </p>
                            <p>Address: Rhodes Shopping Center, MM4/1 Rider Blvde, Rhodes NSW</p>
                            <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn btn-dark text-light mt-3">Contact</a>
                        </div>
                        <div class="col-sm-6 p-1">
                            <img class="w-100" src="~/img/memberContact.jpg" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

  






