@using System.Globalization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Management</title>
    <link href="~/css/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/calendar_7days/style.css" rel="stylesheet" />
    <style>
        .editBackground {
            background-image: url(../../../../img/managerEdit.jpg);
            padding: 100px 0;
        }
        .editTable {
            background-color: #00000095;
            margin: 0 auto;
            border-radius: 5px;
            padding: 10px;
            border: white 5px solid;
        }
        .reservationTable {
            background-image: url("../img/reservedTable.jpg")
        }
        .detailBackground {
            background-image: url(../../../../img/managerDetails.jpg);
            background-size: cover;
            padding: 100px 50px;
        }
        .detailTable {
            background-color: #00000098;
            border-radius: 5px;
            padding: 10px;
            border: white 5px solid;
        }
        .deleteBackground {
            background-image: url(../../../../img/managerDelete.jpg);
            background-size: cover;
            padding: 100px 50px;
        }
        .tableList {
            border-radius: 3px;
            background-color: #00000050;
            color: #ffffff;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" height="50" class="mr-2" /></a>
                <a class="navbar-brand" asp-area="Management" asp-controller="Home" asp-action="Index">T3RMSWS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Management" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Management" asp-controller="Reservation" asp-action="Index">Customer Reservations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - T3RMSWS - <a asp-area="Management" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/calendar_7days/calendar7.js"></script>
<script>
    jQuery('.calendar-7').Calendar7({
        allowTimeStart: '07:00',
        allowTimeEnd: '22:00'
    });
</script>



@RenderSection("Scripts", required: false)
</body>
</html>
